body {
    text-align: center;
}

#root {
    display: inline-block;
}

.App {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    flex-flow: wrap;
}

.App hr {
    width: 100%;
    visibility: hidden;
}